<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvdou.mapper.BrandMapper">

    <!-- 多条件查询品牌 -->
    <select id="findAll" resultType="Brand">
        SELECT * from tb_brand
        <where>
            <if test="brand != null">
                <!-- 品牌名称 -->
                <if test="brand.name != null and brand.name !=''">
                    name like CONCAT('%',#{brand.name},'%')
                </if>
                <!--  品牌首字母 -->
                <if test="brand.firstChar != null and brand.firstChar !=''">
                    and first_char = #{brand.firstChar}
                </if>
            </if>
        </where>
        order by id asc
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll">
        delete FROM tb_brand where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>