<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lvdou.mapper.GoodsMapper">
  	<!-- 多条件查询商品 -->
	<select id="findAllByWhere" resultType="map">
		  SELECT id,goods_name AS goodsName, price,category1_id AS category1Id,
		  category2_id AS category2Id,category3_id AS category3Id,
		  audit_status AS auditStatus FROM tb_goods where is_delete is NULL
          <if test="goods != null">
              <!-- 商家sellerId -->
              <if test="goods.sellerId != null and goods.sellerId != ''">
                  AND seller_id = #{goods.sellerId}
              </if>
              <!-- 商品名称 -->
              <if test="goods.goodsName != null and goods.goodsName != ''">
                  AND goods_name like CONCAT('%',#{goods.goodsName},'%')
              </if>
              <!-- 审核状态码 -->
              <if test="goods.auditStatus != null and goods.auditStatus != ''">
                  AND audit_status = #{goods.auditStatus}
              </if>
          </if>
		  order by id asc
	</select>

	<!-- 修改商品状态码 -->
	<update id="updateAuditStatus">
		update tb_goods set audit_status = #{status} where id IN
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

    <!-- 修改商品删除状态 -->
    <update id="updateDeleteStatus">
        update tb_goods set is_delete = #{isDelete} where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>