<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置RedisTemplate操作Redis -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <!-- 设置连接工厂 -->
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
    <!-- ################# 操作Redis单机版 ############### -->
    <!-- 配置连接工厂 -->

    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <!-- 设置host -->
        <property name="hostName" value="127.0.0.1"/>
        <!-- 设置port -->
        <property name="port" value="6379"/>
    </bean>
</beans>