<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>优鲜吧</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
              name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="teleuser.phone=no" name="format-detection"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/js/plugins/adminLTE/css/AdminLTE.css"/>
        <link rel="stylesheet" href="/js/plugins/bootstrap/css/bootstrap.css"/>

        <script src="/js/plugins/jquery/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="js/base/scrollTab.js"></script>
        <script src="/js/plugins/bootstrap/bootstrap.js"></script>

        <script src="/js/plugins/angularjs/angular.min.js"></script>
        <script src="/js/base/base.js"></script>
        <script src="/js/service/baseService.js"></script>
        <script src="/js/controller/baseController.js"></script>
        <script src="/js/controller/goodController.js"></script>
    </head>
    <body ng-app="lvdou"
          ng-controller="goodController"
          ng-init=" findAllGoods();">

        <section class="aui-flexView">
            <!--<div class="ban" style="position: relative">
                <button class="button button1">公司</button>
                <button class="button button2">访客</button>
            </div>-->
            <button id="btn1">我要登录</button>
            <section class="aui-scrollView">
                <!-- m-scrolltab-start-->
                <div class="m-scrolltab" data-ydui-scrolltab>
                    <div class="scrolltab-nav">

                        <a href="javascript:;" class="scrolltab-item">
                            <div class="scrolltab-title">百香果</div>
                        </a>
                        <a href="javascript:;" class="scrolltab-item">
                            <div class="scrolltab-title">奇异果</div>
                        </a>
                        <a href="javascript:;" class="scrolltab-item">
                            <div class="scrolltab-title">柠檬</div>
                        </a>
                        <a href="javascript:;" class="scrolltab-item">
                            <div class="scrolltab-title">柑橘</div>
                        </a>
                        <a href="javascript:;" class="scrolltab-item">
                            <div class="scrolltab-title">番石榴</div>
                        </a>
                    </div>

                    <!-- scrolltab-content-start-->
                    <div class="scrolltab-content">
                        <!-- scrolltab-content-item start-->

                        <div class="scrolltab-content-item">

                            <div class="min">
                                <!-- 百香果产品排版开 -->
                                <div class="aui-flex-links" >
                                    <li ng-repeat="Goods in GoodsList">
                                        <div ng-if="Goods.classify == 1">
                                            <a href="javascript:;" class="aui-flex-links-item">
                                                <div class="aui-flex-links-img">
                                                    <img src="images/admin/pd-001.jpg" alt="">
                                                </div>
                                                <div class="aui-flex-links-text">
                                                    <p>{{Goods.title}}</p>
                                                </div>
                                                <div class="jj">
                                                    ￥<span class="pri" ng-model="price">{{Goods.price}}</span>5
                                                    <span class="axe">斤</span>
                                                </div>
                                                <div style="text-align: center">
                                                    <button id="jian" class="jian" ng-click="jian(Goods)">-</button>
                                                    <input  id= {{Goods.id}} class="num"  value="0" >
                                                    <button id="jia" class="jia" ng-click="jia(Goods)">+</button>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </div>
                                <!-- 百香果产品排版结束 -->
                            </div>
                        </div>
                        <!-- scrolltab-content-item end-->
                        <!-- scrolltab-content-item start-->
                        <div class="scrolltab-content-item">
                            <h2>奇异果</h2>
                            <div class="min">
                                <!-- 百香果产品排版开始 -->
                                <div class="aui-flex-links">

                                    <li ng-repeat="Goods in GoodsList">
                                        <div ng-if="Goods.classify == 5">
                                            <a href="javascript:;" class="aui-flex-links-item">
                                                <div class="aui-flex-links-img">
                                                    <img src="images/pd-001.jpg" alt="">
                                                </div>
                                                <div class="aui-flex-links-text">
                                                    <p>{{Goods.title}}</p>
                                                </div>
                                                <div class="jj">
                                                    ￥<span class="pri" ng-model="price">{{Goods.price}}</span>5<span class="axe">斤</span>
                                                </div>
                                                <div style="text-align: center">
                                                    <button id="jian" class="jian" ng-click="jian(Goods)">-</button>
                                                    <input  id= {{Goods.id}} class="num"  value="0" >
                                                    <button id="jia" class="jia" ng-click="jia(Goods)">+</button>
                                                </div>
                                            </a>
                                        </div>

                                    </li>

                                </div>
                                <!-- 百香果产品排版结束 -->
                            </div>
                        </div>
                        <!-- scrolltab-content-item end-->

                        <!-- scrolltab-content-item start-->
                        <div class="scrolltab-content-item">
                            <h2>柠檬</h2>
                            <div class="min">
                                <!-- 百香果产品排版开始 -->
                                <div class="aui-flex-links">
                                    <li ng-repeat="Goods in GoodsList">
                                        <div ng-if="Goods.classify == 2">
                                            <a href="javascript:;" class="aui-flex-links-item">
                                                <div class="aui-flex-links-img">
                                                    <img src="images/pd-001.jpg" alt="">
                                                </div>
                                                <div class="aui-flex-links-text">
                                                    <p>{{Goods.title}}</p>
                                                </div>
                                                <div class="jj">
                                                    ￥<span class="pri" ng-model="price">{{Goods.price}}</span>5<span class="axe">斤</span>
                                                </div>
                                                <div style="text-align: center">
                                                    <button id="jian" class="jian" ng-click="jian(Goods)">-</button>
                                                    <input  id= {{Goods.id}} class="num"  value="0" >
                                                    <button id="jia" class="jia" ng-click="jia(Goods)">+</button>
                                                </div>
                                            </a>
                                        </div>

                                    </li>


                                </div>
                                <!-- 百香果产品排版结束 -->
                            </div>
                        </div>
                        <!-- scrolltab-content-item end-->


                        <!-- scrolltab-content-item start-->
                        <div class="scrolltab-content-item">
                            <div class="min">
                            <h2>柑橘</h2>
                            <!-- 百香果产品排版开始 -->
                            <div class="aui-flex-links">
                                <li ng-repeat="Goods in GoodsList">
                                    <div ng-if="Goods.classify == 3">
                                        <a href="javascript:;" class="aui-flex-links-item">
                                            <div class="aui-flex-links-img">
                                                <img src="images/pd-001.jpg" alt="">
                                            </div>
                                            <div class="aui-flex-links-text">
                                                <p>{{Goods.title}}</p>
                                            </div>
                                            <div class="jj">
                                                ￥<span class="pri" ng-model="price">{{Goods.price}}</span>5<span class="axe">斤</span>
                                            </div>
                                            <div style="text-align: center">
                                                <button id="jian" class="jian" ng-click="jian(Goods)">-</button>
                                                <input  id= {{Goods.id}} class="num"  value="0" >
                                                <button id="jia" class="jia" ng-click="jia(Goods)">+</button>
                                            </div>
                                        </a>
                                    </div>

                                </li>


                            </div>
                            <!-- 百香果产品排版结束 -->
                            </div>
                        </div>
                        <!-- scrolltab-content-item end-->


                        <!-- scrolltab-content-item start-->
                        <div class="scrolltab-content-item">
                            <div class="min">
                                <h2>番石榴</h2>
                                <!-- 百香果产品排版开始 -->
                                <div class="aui-flex-links">
                                    <li ng-repeat="Goods in GoodsList">
                                        <div ng-if="Goods.classify == 4">
                                            <a href="javascript:;" class="aui-flex-links-item">
                                                <div class="aui-flex-links-img">
                                                    <img src="images/pd-001.jpg" alt="">
                                                </div>
                                                <div class="aui-flex-links-text">
                                                    <p>{{Goods.title}}</p>
                                                </div>
                                                <div class="jj">
                                                    ￥<span class="pri" ng-model="price">{{Goods.price}}</span>5<span class="axe">斤</span>
                                                </div>
                                                <div style="text-align: center">
                                                    <button id="jian" class="jian" ng-click="jian(Goods)">-</button>
                                                    <input  id= {{Goods.id}} class="num"  value="0" >
                                                    <button id="jia" class="jia" ng-click="jia(Goods)">+</button>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </div>
                                <!-- 百香果产品排版结束 -->
                            </div>
                        </div>
                        <!-- scrolltab-content-item end-->


                        <!-- order start -->
                            <div class="order">
                                <div class="sure">
                                     已选2个商品
                                    <div class="sure_l">合计：<span class="money" ><td>{{totalPrice}} 元</td></span></div>
                                    <!--<div id="shopcart" class="sure_r"><span>购物车</span></div>-->
                                    <button id="shopcart" ng-click="shopcart()">确认订单</button>
                                </div>
                                <div class="info">
                                    <div class="info_l" ng-if="user.phone">姓名：{{user.phone}}&nbsp&nbsp福利余额：100元</div>
                                    <div class="info_l" ng-if="!user.phone">姓名：游客 </div>
                                    <div class="info_r" ng-if="user.phone">
                                        <button type="button" class="btn bg-olive btn-xs"
                                                data-toggle="modal" data-target="#yuanModal" >
                                            个人信息修改</button>
                                        <button class="button button9">订单记录</button>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        <!-- order end -->

                    </div><!-- scrolltab-content-end-->

                </div><!-- m-scrolltab-end-->

            </section>
        </section>

        <div class="modal fade" id="yuanModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true" >×</button>
                        <h3 id="myModalLabel3">个人信息</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped"  width="800px">
                            <tr>
                                <td>昵称</td>
                                <td>来自星星的帅哥</td>
                            </tr>
                            <tr>
                                <td>联系方式</td>
                                <td>135914389603</td>
                            </tr>
                            <tr>
                                <td>默认地址</td>
                                <td>广州白云区</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal"
                                ng-click="saveOrUpdate();"
                                aria-hidden="true">保存</button>
                        <button class="btn btn-default" data-dismiss="modal"
                                aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
