<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>水果管理</title>
    <link rel="stylesheet" href="/js/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/js/plugins/adminLTE/css/AdminLTE.css"/>
    <link rel="stylesheet" href="/js/plugins/adminLTE/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
	<script src="/js/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="/js/plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="/js/plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<link rel="stylesheet" href="/js/plugins/angularjs/pagination.css"/>
	<script src="/js/plugins/angularjs/pagination.js"></script>
	<!-- 分页组件结束 -->
	<script src="/js/base-pagination.js"></script>
	<script src="/js/service/baseService.js"></script>
	<script src="/js/controller/baseController.js"></script>
	<script src="/js/controller/productController.js"></script>
	<script src="/js/service/uploadService.js"></script>

</head>
<body class="hold-transition skin-red sidebar-mini"
	  ng-app="lvdou"
	  ng-controller="productController">
	<!-- .box-body -->
	<div class="box-header with-border">
		<h3 class="box-title">产品管理</h3>
	</div>

	<div class="box-body">
		<!-- 数据表格 -->
		<div class="table-box">
			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建"
								data-toggle="modal" data-target="#editModal"
                                ng-click="entity={}">
							<i class="fa fa-file-o"></i> 新建</button>
						<button type="button" class="btn btn-default" title="删除"
                                ng-click="delete()">
							<i class="fa fa-trash-o"></i> 删除</button>
						<button type="button" class="btn btn-default" title="刷新"
								onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					<!--  查询条件区-->
					<table>
						<tr>
							<td><input class="form-control"
									   ng-model="searchEntity.name" placeholder="公司名称">
							</td>
							<td>
								<button type="button" class="btn btn-default"
										ng-click="reload();">
									<i class="fa fa-trash-o"></i> 查询
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div><br/>
			<!--工具栏/-->
			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>

						<th class="text-center">工商备案号</th>
						<th class="text-center">公司名</th>

						<th class="text-center">备案时间</th>
						<th class="text-center">注册资金</th>
						<th class="text-center">注册方式</th>

						<th class="text-center">操作</th>
						<th class="" style="padding-right:0px">
							<input id="selall" type="checkbox" class="icheckbox_square-blue">
						</th>
					</tr>
				</thead>
				<tbody class="text-center" id="productInf">
					<tr ng-repeat="entity in dataList">

                        <td>{{entity.id}}</td>
                        <td>{{entity.productName}}</td>

						<td>{{entity.productNum}}</td>
						<td>{{entity.productClassify}}</td>
						<td>{{entity.packing}}</td>

                        <td class="text-center">
                            <button type="button" class="btn bg-olive btn-xs"
                                    data-toggle="modal" data-target="#editModal"
                                    ng-click="show(entity);">修改</button>

							<button type="button" class="btn bg-olive btn-xs"
									data-toggle="modal" data-target="#uploadModal"
									ng-click="uploadExcelFile();">备案二维码</button>
                        </td>
						<td>
							<input type="checkbox"
								   ng-click="updateSelection($event,entity.id);">

						</td>
                    </tr>

				</tbody>
			 </table>
			 <!--数据列表/-->
			 <!-- 分页组件  conf : 指定初化分页组件需要参数对象 {} -->
			<tm-pagination conf="paginationConf"/>
		</div>
		<!-- 数据表格 /-->
	 </div>
     <!-- /.box-body -->



	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">水果信息编辑</h3>
			</div>
			<div class="modal-body">		
				<table class="table table-bordered table-striped"  width="800px">
					<tr>
						<td>水果名称</td>
						<td><input  class="form-control"
									ng-model="entity.name"
									placeholder={{entity.productName}} >  </td>
					</tr>		      	
					<tr>
						<td>种类</td>
						<td><input  class="form-control"
									ng-model="entity.classify"
									placeholder={{entity.classify}}>  </td>
					</tr>

					<tr>
						<td>重量</td>
						<td><input  class="form-control"
									ng-model="entity.productWeight"
									placeholder={{entity.productWeight}}>  </td>
					</tr>
					<tr>
						<td>包装方式</td>
						<td><input  class="form-control"
									ng-model="entity.packing"
									placeholder={{entity.packing}}>  </td>
					</tr>

				 </table>
			</div>
			<div class="modal-footer">						
				<button class="btn btn-success" data-dismiss="modal"
						ng-click="saveOrUpdate();"
						aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal"
                        aria-hidden="true">关闭</button>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal fade" id="yuanModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel3">产销信息</h3>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped"  width="800px">
						<tr>
							<td>经销商</td>
							<td>盒马生鲜</td>
						</tr>
						<tr>
							<td>负责人</td>
							<td>陈东奇</td>
						</tr>
						<tr>
							<td>联系方式</td>
							<td>13888888888</td>
						</tr>
						<tr>
							<td>经销商地址</td>
							<td>广西贵港港南区金港大道377号</td>
						</tr>
						<tr>
							<td>销售许可证</td>
							<td>102810210281028
								<button class="btn btn-default">查看证书图片</button>
							</td>


						</tr>
						<tr>
							<td>生产商</td>
							<td>广西壮族自治区牛栏山七毛村大壮合作商</td>
						</tr>
						<tr>
							<td>负责人</td>
							<td>刘翠芬</td>
						</tr>
						<tr>
							<td>联系方式</td>
							<td>13999999999</td>
						</tr>
						<tr>
							<td>办公地址</td>
							<td>广西贵港港南区金港大道377号</td>
						</tr>
						<tr>
							<td>工商证号</td>
							<td>102810281028
								<button class="btn btn-default">查看证书图片</button>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
							ng-click="saveOrUpdate();"
							aria-hidden="true">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
					<h3 id="myModalLabel2">上传水果图片</h3>
				</div>
				<div class="modal-body">

					<table class="table table-bordered table-striped">
						<tr>
							<td>提示：请导入Excel文档</td>
							<td>
								<table>
									<tr>
										<td><input type="file" id="file" accept=".xls,.xlsx"/>
											<button class="btn btn-primary" type="button"
													ng-click="uploadFile2();">上传</button></td>


										<td><img src="{{image_entity.url}}" width="200px" height="200px"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<form id="fileForm" enctype="multipart/form-data">
						<button id="import_asset" type="button" ng-click="uploadExcelFile()">上传文件</button>
						<input id="file_asset" type="file" style="display: none;"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>