<!DOCTYPE html>
<html>
	<head>
	    <!-- 页面meta -->
	    <meta charset="utf-8">
	    <title>商品管理</title>
	    <link rel="stylesheet" href="/js/plugins/bootstrap/css/bootstrap.min.css"/>
	    <link rel="stylesheet" href="/js/plugins/adminLTE/css/AdminLTE.css"/>
	    <link rel="stylesheet" href="/js/plugins/adminLTE/css/skins/_all-skins.min.css"/>
	    <link rel="stylesheet" href="/css/style.css"/>
		<script src="/js/plugins/jquery/jquery-2.2.3.min.js"></script>
	    <script src="/js/plugins/bootstrap.min.js"></script>

		<script src="/js/plugins/angularjs/angular.min.js"></script>
		<!-- 分页组件开始 -->
		<script src="/js/plugins/angularjs/pagination.js"></script>
		<link rel="stylesheet" href="/js/plugins/angularjs/pagination.css"/>
		<!-- 分页组件结束 -->
		<script src="/js/base-pagination.js"></script>
		<script src="/js/service/baseService.js"></script>
		<script src="/js/controller/baseController.js"></script>
		<script src="/js/controller/goodController.js"></script>
	</head>

	<body class="hold-transition skin-red sidebar-mini"
		  ng-app="lvdou"
		  ng-controller="goodsController">
	  	<!-- .box-body -->
		<div class="box-header with-border">
			<h3 class="box-title">商品审核</h3>
		</div>
		<div class="box-body">
			<!-- 数据表格 -->
			<div class="table-box">
				<!--工具栏-->
				<div class="pull-left">
					<div class="form-group form-inline">
						<div class="btn-group">

							<button type="button" class="btn btn-default"
									ng-click="updateStatus('1');"
									title="审核通过">
								<i class="fa fa-check"></i> 审核通过
							</button>
							<button type="button" class="btn btn-default"
									ng-click="updateStatus('2');"
									title="驳回">
								<i class="fa fa-ban"></i> 驳回
							</button>
							<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();">
								<i class="fa fa-refresh"></i> 刷新
							</button>
							<button type="button" class="btn btn-default"
									ng-click="delete();"
									title="删除">
								<i class="fa fa-trash-o"></i> 删除
							</button>
						</div>
					</div>
				</div>
				<div class="box-tools pull-right">
					<div class="has-feedback">
						商品名称：<input ng-model="searchEntity.goodsName"/>
						<button class="btn btn-default" ng-click="reload();">查询</button>
					</div>
				</div>
				<!--工具栏/-->
	
				<!--数据列表-->
				<table id="dataList"
					class="table table-bordered table-striped table-hover dataTable">
					<thead>
						<tr>
							<th class="" style="padding-right: 0px"><input id="selall"
								type="checkbox" class="icheckbox_square-blue"></th>
							<th class="sorting_asc">商品编码</th>
							<th class="sorting">商品名称</th>
							<th class="sorting">检测日期</th>
							<th class="sorting">检测项目</th>
							<th class="sorting">检测结果</th>
							<th class="sorting">最大限量</th>
							<th class="sorting">判定</th>
							<th class="sorting">检测单位</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entity in dataList">
							<td><input  type="checkbox"
										ng-click="updateSelection($event, entity.id);"></td>
							<td>{{entity.id}}</td>
							<td>白菜</td>
							<td>2013-9-8</td>
							<td>含氮量</td>
							<td>56mg/斤</td>
							<td>86mg/斤</td>
							<td>合格</td>
							<td>广州市白云区食品药品监督管理局</td>
						</tr>
					</tbody>
				</table>
				<!--数据列表/-->
				<!-- 分页 -->
				<tm-pagination conf="paginationConf"/>
			</div>
			<!-- 数据表格 /-->
		</div>
		<!-- /.box-body -->
	</body>
</html>