/* 公共样式表css */
html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a, label, button, input, select {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    border: 0;
}

html, body, div, tbody,dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}


button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}

i{
    color:#fff;
}
/* 必要布局样式css */
.aui-flexView {width: 100%;height: 100%;margin: 0 auto;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
.aui-scrollView {width: 100%;height: 100%;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;overflow-y: auto;overflow-x: hidden;-webkit-overflow-scrolling: touch;position: relative;margin-top: 0;}
.m-scrolltab {position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.scrolltab-nav {height: 100%;background-color: #f8f8f8;overflow-y: auto;-webkit-overflow-scrolling: touch;position: relative;z-index: 1;}
.scrolltab-item.crt {background-color: #518f09;position: relative;}
.scrolltab-item.crt .scrolltab-title {color: #fff;}
.scrolltab-content {height: 100%;background-color: #f1f6ec;overflow-y: auto;-webkit-overflow-scrolling: touch;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 0.4rem 0 0.4rem 0.4rem ;position: relative;}

.guige { color:#999;}
.order-footer { height: 36px; line-height: 36px; width:100%; text-align: center; background-color: #f3f3f3; position: fixed;  bottom: 0;}
.heji { color:#ff4400; font-size: 22px;}
.return { position:absolute; left:0; bottom:0; padding:0px 10px; color: #fff; height:36px; background-color: #518f09}
.buy { position:absolute; right:0;   bottom:0; padding:0px 10px; color: #fff; height:36px; background-color: #ff4400}
.img { width:100%;}
.min { min-height: 600px;}
.other { width:80%;}
.name-color { color:#518f09;}
.num-color { color:#ff4400;}
.modify {background-color: #518f09;border: none;color: white;padding: 3px 12px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius:25px;}
.modify2 {background-color: #518f09;border: none;color: white;padding: 3px 12px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius:25px;}
.total { text-align: right; padding:6px 10px; }
.z-left { text-align: left;}
.person {width: 35%; text-align: right;}
.black {width: 37%; text-align: left;}
.select { text-align: center; border-bottom:1px solid #eaeaea; font-weight: bold; padding:10px 0px; font-size: 1.2rem;}
.cancel { text-align: center; padding:15px 0px;}
.cancel a{ margin-left: 20px;}
.order-number span{ position: absolute; right:0; padding-right:20px;}


/*屏幕分辨率最小992时*/
@media screen and (min-width:992px){
    .scrolltab-item {height: 5rem;position: relative;z-index: 1;width: 180px;display: block;line-height: 5rem;text-align: center;}
    .scrolltab-title { font-size: 1.4rem; color: #666; overflow-x: hidden; text-overflow: ellipsis;white-space: nowrap;}
    .num { width:100px;text-align:center;padding:5px 20px; margin-top: 0.2rem}
    .pri { padding-right:7rem; font-size: 2.4rem; color:#f22d2d}
    .scrolltab-content-item h2 { font-size: 14px; padding: 10px 0px;}
    .ban { width:100%; height:266px; border: 1px solid #f8f8f8; background: #518f09 url("../images/banner_sj.jpg") no-repeat center center; }
    .aui-flex-links {padding-top:10px;position: relative;overflow: hidden;background: #fff;border-radius: 5px;margin-bottom: 15px;}
    .aui-flex-links-text { font-size: 1.6rem; color:#666;}
    .jj { font-size: 2rem;}
    .axe { font-size: 16px;}
    .sure { width:83%; height:1.6rem; background-color: #e5e5e5;  overflow: hidden; position: relative; text-align: center;}
    .info { width:83%; padding:5px 8px; background-color: #f0f0f0; }
    .member { height:120px; background-color: #518f09;}
    .size { width:25%; font-size: 1rem;  }
    .five { width:6%;}
    .direction { text-align: right; font-weight: bold;}
    .keepleft { text-align: left;  width:50%}
    table tr { height:34px; }
    .order-number { border-bottom:1px solid #eaeaea; height: 36px; line-height: 36px; padding:0px 10px;}
    .success { padding:50px 0px;background-color: #518f09;text-align: center; }
    .icon { width:100%; text-align: center;vertical-align:middle}
    .ok { font-size: 2.6rem; text-align: center; color: #fff; padding:20px 0px;}
    .complete {margin-right:2rem;background-color: #518f09;border: 2px solid #fff;color: white;padding: 14px 34px;text-align: center;text-decoration: none;display: inline-block;font-size: 34px;}
    .last { margin-right:0rem;}
    .boon { font-size: 2rem; text-align: left; width:70%; padding-left:37%; margin-top:1.2rem; line-height: 50px;}
    .jia { font-size: 1.4rem; color:#666; margin-top:3px;}
    .jian { font-size: 1.4rem; color:#666; margin-top:3px;}
}/*屏幕分辨率最小992 end*/


/*屏幕分辨率最大992px start*/
@media screen and (max-width:992px) {
    .scrolltab-item {height: 3rem;position: relative;z-index: 1;width: 60px;display: block;line-height: 3rem;text-align: center;}
    .scrolltab-title {font-size: 0.8rem;color: #666;overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .jj {  font-size: 0.8rem;}
    .num { width:24px;text-align:center;padding:2px 1px 1px 1px; }
    .pri {  font-size: 1rem; color:#f22d2d; padding-right:0.5rem;  }
    .scrolltab-content-item h2 { font-size: 14px; padding: 5px 0px;}
    .ban { width:100%;height:110px; margin-bottom:1px ;background: #518f09 url("../images/banner_sj.jpg") no-repeat center center;background-size:cover;}
    .aui-flex-links {position: relative;overflow: hidden;background: #fff;border-radius: 5px;}
    .aui-flex-links-text { font-size: 0.75rem; color:#333;}
    .axe { font-size: 12px;}
    .cancel img { width:100%;}
    .sure { width:84%; height:1.6rem; background-color: #e5e5e5;  overflow: hidden; position: relative; text-align: center;}
    .info { width:84%; padding:5px 8px; background-color: #f0f0f0; }
    .member { height:120px; background-color: #518f09;}
    .size { width:25%; font-size: 14px;  }
    .five { width:6%;}
    .direction { text-align: right; font-weight: bold;}
    .keepleft { text-align: left;  width:50%}
     table tr { height:27px; font-size: 14px;}
    .order-number { border-bottom:1px solid #eaeaea; font-size: 14px; height: 36px; line-height: 36px; padding:0px 10px;}
    .success { padding:30px 0px;background-color: #518f09;text-align: center; }
    .icon { width:100%; text-align: center;vertical-align:middle}
    .ok { font-size: 1.8rem; text-align: center; color: #fff; padding:14px 0px;}
    .complete {margin-right:2rem;background-color: #518f09;border: 2px solid #fff;color: white;padding: 8px 14px;text-align: center;text-decoration: none;display: inline-block;font-size: 22px;}
    .last { margin-right:0rem;}
    .boon { font-size: 1.5rem; text-align: left; width:90%; padding-left:10%; margin-top:1.2rem; line-height: 35px;}
    .jia { font-size: 1.1rem; color:#666; margin-top:3px;}
    .jian { font-size: 1.1rem; color:#666; margin-top:3px;}

}/*屏幕分辨率最大992px end*/


/*首页底部购物车start*/
.order { width:100%; border-top:6px solid #f1f6ec; background-color: #f8f8f8; position: fixed;  bottom: 0;}
.order h2 {  border-bottom: 1px solid #eaeaea; padding-left:14px; color:#518f09;}
table { width:100%; border:0px }
table tr td { text-align:center; border-bottom:1px solid #eaeaea;}
.chuti { font-weight:bold;}


.sure_l {position: absolute;top:0;left:0;height:30px;}
.sure_r {position: absolute;top:0;right:0;color:#fff;width:90px; height:30px; padding:2px 1px 2px 8px; background: #ff4400 url("../images/shopping44.png") no-repeat 5px 1px;}
.sure_r span { margin-right: -18px;}
.info_r { float: right; font-size: 14px; }
.info_l { float: left; font-size: 14px; }
.money { font-size: 1.4rem; color:#ff4400;}
/*首页底部购物车end*/


/*产品列表 start*/

.aui-flex-links-item {
    position: relative;
    float: left;
    padding: 5px 0;
    width: 30.333333%;
    box-sizing: border-box;
    margin: 0 1.5%;
}

.aui-flex-links-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.aui-flex-links-img img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}
/*产品列表-end*/



/*公司访客按钮样式 start*/
.button {
    background-color: #518f09; /* Green */
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border:0px solid;
}
.button9 {
    background-color: #518f09; /* Green */
    color: white;
    padding: 3px 6px 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border:0px solid;
}

.button1 {
    background-color: #77c023;
    color: white;
    position:absolute;
    top:0;
    right:54px;
}
.button2 {
    background-color: #77c023;
    color: white;
    position:absolute;
    top:0;
    right:0;
}
.button1:hover {
    background-color: #9acc9c;
    color: white;
}

.button2:hover {
    background-color: #9acc9c;
    color: white;
}


/*公司访客按钮样式 end*/

